<section>
    <div class="banner">
        <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-web.imgix.net%2Fstatic%2Fimg%2Fzc-scan-banner-tablet.webp%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3Dundefined%26h%3Dundefined%26dpr%3D2&w=3840&q=75"
            alt="">
    </div>
    <div class="container-btn-categoria">
        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fcervejas.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Cervejas
            </div>
        </div>

        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fdestilados.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Destilados
            </div>
        </div>




        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fnaoalcoolicos.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Não Alcoólicos
            </div>
        </div>

        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fvinhos.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Vinhos
            </div>
        </div>


        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fdrinksprontos.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Drinks Prontos
            </div>
        </div>

        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fcomidinhas.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Comidinhas
            </div>
        </div>


        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Fchurrasco.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Churrasco
            </div>
        </div>

        <div class="btn-categorias">
            <div class="img-btn">
                <img src="https://www.ze.delivery/_next/image?url=https%3A%2F%2Fcourier-images-prod.imgix.net%2Fcategory%2Floja.png%3Fauto%3Dcompress%2Cformat%26fit%3Dmax%26w%3D48%26h%3D48%26dpr%3D2%26fm%3Dpng&w=32&q=75"
                    alt="">
            </div>
            <div class="text-btn">
                Loja
            </div>
        </div>
    </div>
    <div class="container-destaques">
        <div class="titulo-destaques">
            <h1>
                DESTAQUES
            </h1>
        </div>
        <ng-container *ngFor="let dest of allImagensDestaques">
            <div class="img-promocional">
                <img src="" alt="">
            </div>
        </ng-container>
    </div>
    <div class="container-marcas">
        <div class="titulo-destaques">
            <h1>
                MARCAS QUE AMAMOS
            </h1>
        </div>
        <ng-container>
            <div class="img-marcas">
                <img src="" alt="">
            </div>
        </ng-container>
    </div>
    <div class="container-recomendados">
        <div class="titulo-destaques">
            <h1>
                RECOMENDADOS PELO ZÉ
            </h1>
        </div>
        <ng-container>
            <div class="img-recomendada">
                <img src="" alt="">
            </div>
        </ng-container>
    </div>
    <div class="container-cervejas">
        <div class="titulo-destaques">
            <h1>
                CERVEJAS
            </h1>
        </div>
        <ng-container>
            <div class="img-cervejas">
                <img src="" alt="">
            </div>
        </ng-container>
    </div>

</section>