<section>
    <div class="container-1">
        <div class="btn-topo">
            <button mat-flat-button>
                Voltar ao topo <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
        </div>
        <div class="cont-links">
            <div class="img-logo">
                <img src="../../../assets/footer/image.webp" alt="">
            </div>
            <div class="links-1">
                <h1>
                    Sobre o Zé Delivery
                </h1>
                <a href="#">
                    Me ajuda, Zé!
                </a>
                <a href="#">
                    Trabalhe conosco
                </a>
                <a href="#">
                    Cidades atendidas
                </a>
            </div>
            <div class="links-2">
                <div class="info-1">
                    <h1>
                        Parcerias
                    </h1>
                    <a href="#">
                        Quero ser parceiro
                    </a>
                </div>
                <div class="info-2">
                    <h1>
                        Cartão Presente
                    </h1>
                    <a href="#">
                        Comprar aqui
                    </a>
                </div>
            </div>
            <div class="links-3">
                <h1>
                    Social
                </h1>
                <div class="social-midia-links">
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="btn-app">
                    <button mat-flat-button color="primary">
                        Quero baixar o app!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-2">
        <div class="cont-textos-links">
            <a href="#">
                Termos de uso
            </a>
            <a href="#">
                Política de privacidade
            </a>
        </div>
        <div class="cont-textos">
            <p>
                ZE SOLUCOES TECNOLOGICAS DE COMERCIO DE BEBIDAS LTDA. - CNPJ: 37.657.197/0001-46
            </p>
            <p>
                Rua Fradique Coutinho, 1632 - CEP: 05.416-002
                Pinheiros - São Paulo/SP

            </p>
        </div>
        <div class="cont-aviso">
            <h1>
                Beba com moderação
            </h1>
        </div>

    </div>

</section>