<section>
    <div class="logo-endereco">
        <img src="../assets/navBar/logo-ze-delivery.png" alt="">
        <div class="text-endereco">
                        
            <button mat-button [matMenuTriggerFor]="menu">
                <h1>Receber agora em:</h1>
                Rua Samuel Morse
                <!-- colocar endereço selecionado pelo cliente
                    se não tiver endereço aparecer para ele selecionar -->
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Usar outro endereço</button>
                <button mat-menu-item></button>
            </mat-menu>
        </div>
    </div>
    <div class="busca-auto">
        <mat-form-field class="example-full-width">
            <mat-label>
                <i class="fa fa-search" aria-hidden="true"></i>
                Pesquise sua bebida ou comidinha favorita
            </mat-label>
            <input type="text" matInput aria-label="Produtos" [matAutocomplete]="auto" (keyup)="pressionaTecla()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let prod of allProdutos" [value]="prod.nome">
                <img alt="" class="example-option-img" [src]="prod.imagem" height="25">
                <span>{{prod.categoria}} {{prod.marca}} {{prod.nome}} </span> <br>
                <small>R$:{{prod.preco}}</small>
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="btn-login-carrinho">
        <button mat-raised-button class="btn-login" routerLink="/login">
            Entrar
        </button>
        <button mat-button matBadge="6" matBadgePosition="above after" matBadgeColor="accent" class="btn-carrinho">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </button>
    </div>
</section>